# Project exclude paths
/.gradle/
/build/

# IDE files
/.idea/
/.vscode/
*.iml
*.iws
*.ipr
out/
bin/

# Run directory junk
/run/logs/
/run/crash-reports/
/run/saves/
/run/usercache.json
/run/usernamecache.json
/run/options.txt
/run/servers.dat
/run/mods/
/run/resourcepacks/
/run/*.log
/logs/

# Temp/Misc files
/ref/
.DS_Store
*.class
Extractor.java